
.esqcima, .dircima, .esqbaixo, .dirbaixo{ 
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;  
}


.container{
    display: flex;
}


.esqbaixo{
    background-color: mediumpurple;
    left: 0;
    bottom: 0;

}

.esqcima{
    background-color: orangered;
    top: 0;
    left: 0;
}

.dirbaixo{
    background-color: yellowgreen;
    right: 0;
    bottom: 0;
}

.dircima{
    background-color: skyblue;
    right: 0;
    top: 0;
}

@media all and (max-width: 640px){

.esqcima, .dircima, .esqbaixo, .dirbaixo{ 
    position: relative;
    flex-direction: row;
    width: 100%;

    }
}