<!DOCTYPE html>

 <!-- All impress.js steps are wrapped inside a div element of 0 size! This means that in your CSS you can't use relative values for width and height (example: width: 100%) to define the size of step elements. You need to use pixel values -->

<html>
    <head>
        <title>My first presentation</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
        <script>
            $(function() {
                $("#input1").spinner({
                    min:1,
                    max:10
                });
            });
        </script>
        <link rel="stylesheet" href="css/impress-common.css"> <!-- Leave out, if you don't use impress-common.css-->
        <link rel="stylesheet" href="css/impress.css">
        <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
        <script src = "https://ajax.aspnetCDN.com/ajax/jQuery/jQuery-3.3.1.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
    </head>
    <body class="impress-supported impress-started impress-enabled">

        <div id="impress">
            <div id="myFirstSlide" class="step present active" data-x="0">
                <h2>Test</h2>
                Lorem ipsum
                <br>
                <div class="container">
                    <div class="container userInput header" id="userInput" align="center">
                        <h3>User Input</h3> 
                        <div class="container userInput body" id="input" align="center"> <!-- To-do Remove if Unecessary -->
                            <h4>Time Period</h4> 
                            <h5>From: </h5>
                            <input id="input1" placeholder="1950" />
                        </div>
                                              
                    </div>    

                    <div class="container mainDisplay header" id="mainDisplay" align="center"> 
                        <h3>Data Display</h3> 
                        <div class="container mainDisplay body" id="display" align="center">  
                        </div>
                    </div>   

                </div>
                

            </div>

            <!-- <div id="visualize" class="step present active" data-x="400" data-y="0" data-z="-1000" data-scale="2" data-rotate-z="0">
                <div class="visualization">
                    <h1>Visualize</h1>
                </div>
            </div> -->

        </div>



        <script src="https://cdn.jsdelivr.net/gh/impress/impress.js@2.0.0/js/impress.js"></script>
        <script>window.impress || document.write('<script src="https://cdn.jsdelivr.net/gh/impress/impress.js@2.0.0/js/impress.js">\x3C/script>');</script>
        <script>impress().init()</script>
        <script>
            var settings = {
                "url": "https://split-by-interval-xg7jaquagq-rj.a.run.app",
                "method": "POST",
                "timeout": 0,
                "crossDomain": true,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    "resource": "get_average_lexical_complexity",
                    "min": 1950,
                    "max": 2010,
                    "timestamp": 2
                }),
            };
            $.ajax(settings).done(function (response) {
                const object = JSON.parse(response)['content'];
                var data = [
                {
                    x: Object.keys(object),
                    y: Object.values(object),
                    type: 'bar',
                    marker: {
                        color: 'rgb(135,206,250)'
                    }
                }];

                Plotly.newPlot('display', data);
                console.log(Object.keys(object));
            });

            $(function() {
                $("#input1").spinner({
                    classes: {
                        "ui-spinner": "highlight"
                    }
                });
            });
        </script>
    </body>
</html>
